.content {
    margin: auto;
}

.images {
    width: 300px;
}

.head-cont {
    text-align: center;
}

.card {
    margin: auto;
    background: linear-gradient(90deg, #8b5cf6 100%, #4f7cf7 0%);
    width: 250px;
    height: 205px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid silver;
    
}

.first-sec {
    display: flex;
    align-items: center;
    gap: 2px;
}

.image {
    width: 76px;
    height: 60px;
    object-fit: cover;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 8px;
    object-fit: cover;
    object-position: center;
}

.image1 {
    width: 76px;
    height: 60px;
    object-fit: cover;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 8px;
    object-fit: cover;
    object-position: center;
}

.image4 {
    width: 244px;
    height: 100px; 
    object-fit: cover;
    padding-left: 3px;
    padding-right: 3px;
}

.text-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.items {
    border: 2px solid #00008b;
    border-radius: 20px;
    text-box: both trim-both;
    
}

.card-cont {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    row-gap: 25px;
}