.community {
    padding-top: 60px;
}
.content {
    display: grid;
    place-items: center;
    width: 800px;
    height: 200px;
    border: 1px solid silver;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background: linear-gradient(120deg, #00008b 50%, #4f7cf7 100%);
}

.text-cont {
    width: 400px;
}

.text {
    text-align: center;
    font-size: 30px;
}

.btn-cont {
    align-items: center;
}

.comm-btn {
    width: 150px;
    background: linear-gradient(120deg, #00008b 0%, #4f7cf7 100%);
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 13px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}