.seller-section {
    padding-bottom: 50px;
}

.card-container {
    position: relative;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 6%, black 94%, transparent 100%);
    mask-image: linear-gradient(to left, transparent 0, black 6%, black 94%, transparent 100%);
}

/*.bar {
    margin-bottom: 15px;
}*/

.card {
    background: linear-gradient(90deg, #0b0626 0%, #2d1a6e 45%, #234c9c 100%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    width: 250px;
    gap: 30px;
    border: 1px solid silver;
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
}

.head-cont {
    text-align: center;
    padding-bottom: 40px;
}

.seller-track {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 15px;
    animation: scroll-right 30s linear infinite;
    cursor: pointer;
    margin-bottom: 15px;
}

.seller-track2 {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 15px;
    animation: scroll-left 30s linear infinite;
    cursor: pointer;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.image-cont {
    width: 70px;
    height: 70px;
    background-color: blue;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    overflow: hidden;
}

.seller-details {
    margin-bottom: 20px;
}

.name {
    font-weight: 600;
    color: #FFF;
    font-size: 14px;
}

.price {
    color: #FFF;
    font-size: 14px;
}