nav {
    position: fixed;
    top: 0;
    height: 68px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.content {
    height: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.logo {
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    white-space: nowrap;
}

.logo-badge {
    background: linear-gradient(120deg, #8b5cf6 -10%, #4f7cf7 100%);
    padding: 0 10px;
    font-size: 20px;
    margin-left: 4px;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: grey;
    font-size: 14.5px;
    font-weight: 500;
    padding-bottom: 6px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background: linear-gradient(90deg, #8b5cf6, #4f7cf7);

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.link.active {
    color: #fff;
    font-weight: 700;
}

.link.active::after {
    transform: scaleX(1);
}

.link:hover::after {
    transform: scaleX(1);
}

.register-btn {
    width: 110px;
    background: linear-gradient(90deg, #8b5cf6 0%, #4f7cf7 100%);
    border: none;
    color: white;
    padding: 10px 26px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}

.register-btn:hover {
    filter: brightness(1.08);
}

.actions {
    display: flex;
    align-items: center;
    gap: 5px;
}