
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#app-container {
    min-height: 100vh;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: 
        radial-gradient(ellipse 900px 600px at 0% 10%, rgba(27, 69, 135, 0.6), transparent 90%),
        radial-gradient(ellipse 900px 700px at 100% 25%, rgba(31, 64, 136, 0.6), transparent 90%),
        radial-gradient(ellipse 900px 600px at 50% 45%, rgba(27, 69, 135, 0.6), transparent 75%),
        radial-gradient(ellipse 900px 700px at 100% 75%, rgba(31, 64, 136, 0.6), transparent 90%),
        radial-gradient(ellipse 900px 700px at 0% 95%, rgba(31, 64, 136, 0.6), transparent 80%),
        #060318;

    overflow-x: hidden;
    font-family: 'Fredoka', sans-serif;
}

#scrollable {
    padding-top: 68px;
}

p {
    color: #FFF;
}

h1, 
h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 800;
}

